body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    width: 80%;
    margin: 20px auto;
    border: 3px solid orangered;
    overflow: auto;
    padding: 15px;
}

h1{
    color: rgb(32, 58, 230);
    text-align: center;
}

h2{
    text-align: center;
    color: orangered;
}

nav{
    text-align: center;
}

nav a{
    text-decoration: none;
    background-color: rgb(32, 58, 230);
    border: 2px orangered;
    border-radius: 10px;
    color: whitesmoke;
    padding: 5px 10px;
    margin-left: 20px;
}

nav a:hover{
    color: blue;
    background-color: whitesmoke;
}